@use 'styles/typography';

.toggle {
  margin: 0 0 12px 5px;

  label {
    @include typography.font(p2);

    color: var(--color-user-dropdown-text);
  }

  input {
    cursor: pointer;

    --bs-form-switch-bg: url('../../../../../assets/svg/pacman-toggle.svg') !important;
    --bs-form-check-bg: var(--color-button-main);
  }
}
