@use 'styles/typography';

.row {
  td {
    @include typography.font(p3);

    padding: 0.75rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var(--color-table-row);
    color: var(--color-table-text);
    vertical-align: middle;
  }

  .position {
    position: relative;

    svg {
      position: absolute;
      left: 2rem;
      top: 50%;
      transform: translateY(-50%);
    }

    .first {
      color: var(--color-gold-text);
    }

    .second {
      color: var(--color-silver-text);
    }

    .third {
      color: var(--color-bronze-text);
    }
  }

  .achievement {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    justify-content: center;
    line-height: 1rem;

    svg {
      color: var(--color-text);
    }
  }
}
