@use 'styles/typography';
@use 'styles/mixins';

.start {
  @include typography.font(p2);

  color: var(--color-white-text);
  margin: 30px;

  p {
    margin-bottom: 20px;
  }

  &__list {
    list-style: none;
    cursor: default;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 20px;
      color: var(--color-white-text);
    }

    li::before {
      content: '➤';
      position: absolute;
      top: -3px;
      left: 0;
      color: #fcd34d;
      font-weight: bold;
    }
  }

  &__keys {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    span {
      display: block;
      border: 1.5px solid var(--color-white-text);
      padding: 10px;
      border-radius: 10px;
      margin: 5px;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;

    &__row {
      display: flex;
      justify-content: center;
      margin: 0.5rem 0;
      gap: 1.5rem;
    }

    &__key {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70px;

      span {
        @include typography.font(p3);

        margin-top: 0.3rem;
      }
    }
  }
}
