@use 'styles/typography';
@use 'styles/mixins';
@use 'styles/bootstrap';

.modal {
  &__content {
    @include mixins.card-background;

    border-radius: 10px;
  }

  &__header {
    @include typography.font(h1);
    @include mixins.text-yellow-neon;

    font-size: 20px;
    background-color: #505023;
    padding: 40px;
    border-bottom: none;
  }

  &__body {
    height: 100%;
    padding: 30px;

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 40px 15px;
      height: 100%;
      gap: 40px;
    }
  }

  &__footer {
    border-top: none;
    margin: auto;
    padding-bottom: 40px;
  }
}
