@use 'styles/typography';
@use 'styles/mixins';
@use 'sass:color';

// .modal {
//   @include typography.font(p3);

//   //   background: var(--color-blue-main);
//   border: none;
//   color: var(--color-white-text);
//   border-radius: 10px;
//   padding: 15px 40px;
//   cursor: pointer;
//   transition: all 0.3s;

//   //   &:hover {
//   //     background: color.adjust(#3369f3, $lightness: -10%);
//   //     transform: scale(1.05);
//   //     box-shadow: 0 0 15px var(--color-blue-main);
//   //   }

//   &:active {
//     transform: scale(0.9);
//   }
// }

.modal {
  &__content {
    background-color: #505023;
    border-radius: 10px;
    padding: 20px;
  }

  &__header {
    @include typography.font(h2);
    @include mixins.text-yellow-neon;
  }

  &__body {
    height: 100%;

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 40px 15px;
      height: 100%;
      gap: 40px;
    }
  }

  &__footer {
    border-top: none;
    margin: auto;
  }
}
