@use 'styles/typography';

.menu {
  width: 300px;
  background-color: var(--color-header-dropdown);
  border-radius: 8px;
  padding: 16px;

  .button {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    color: var(--color-user-dropdown-text);
    border: none;
    border-radius: 8px;
    background-color: inherit;

    span {
      @include typography.font(p2);

      margin-top: 2px;
    }

    &:hover {
      color: var(--color-text);
      background-color: var(--color-text-opacity15);
    }

    &:last-child {
      margin-bottom: 0;
    }

    .icon {
      width: 16px;
      height: 16px;
    }
  }
}
