@use 'styles/typography';
@use 'styles/mixins';
@use 'sass:color';

.button {
  @include typography.font(p3);

  color: var(--color-white-text);
  border-radius: 10px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
