@use 'styles/typography';

.table {
  margin: 0;
  table-layout: fixed;
  text-align: center;

  tr {
    border-color: var(--color-yellow-opacity50);
  }

  th {
    @include typography.font(p2);

    padding: 1rem;
    background-color: var(--color-onion);
    color: var(--color-yellow-text);
    vertical-align: middle;

    &:first-child {
      padding: 0;
      width: 160px;
    }
  }
}

.noData {
  @include typography.font(p2);

  padding: 100px 0;
  text-align: center;
}
