.topbar {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-header-dropdown);
  border-bottom: 2px solid var(--color-text-opacity15);
}
