@use 'styles/typography';

.row {
  td {
    @include typography.font(p3);

    padding: 0.75rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var(--color-mossy-gray);
    color: var(--color-white-text);
    vertical-align: middle;

    &:first-child {
      padding: 0;
      padding-left: 1rem;
      text-align: center;
    }
  }

  .author {
    display: block;
    cursor: pointer;
    color: var(--color-yellow-text);
    text-decoration: underline;
  }

  .link,
  .author {
    &:hover {
      color: var(--color-blue-main);
    }
  }

  .lastComment {
    div {
      margin-top: 4px;
    }
  }
}
