@use 'styles/typography';
@use 'styles/mixins';
@use 'styles/variables' as *;

.input {
  @include typography.font(p2_input);

  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid $color-blue-main;
  color: $color-white-text;

  &__wrapper {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
  }

  &__label {
    @include typography.font(p3);
    @include mixins.text-yellow-neon;

    position: absolute;
    top: -10px;
  }

}

