@keyframes glitch {
  0% {
    text-shadow:
      3px 0 0 var(--color-red-invalidate),
      -3px 0 0 var(--color-glitch-pacman);
  }

  25% {
    text-shadow:
      -3px 0 0 var(--color-red-invalidate),
      3px 0 0 var(--color-glitch-pacman);
  }

  50% {
    text-shadow:
      3px 0 0 var(--color-red-invalidate),
      -3px 0 0 var(--color-glitch-pacman);
  }

  100% {
    text-shadow:
      -3px 0 0 var(--color-red-invalidate),
      3px 0 0 var(--color-glitch-pacman);
  }
}

@mixin glitch-animation {
  animation: glitch 1.5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

@mixin bounce {
  animation: bounce 1.5s infinite;
}
