@forward './typography';
@forward './mixins';
@import './variables';
@import 'bootstrap/scss/bootstrap';
@import './bootstrap';
@import './reset';
@import './light-theme';

body {
  background: url('./../../assets/images/background.jpg');
  color: var(--color-white-text);
}

body[data-theme='light'] {
  background: url('./../../assets/images/background-light.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white-text);
}
