:root {
  // colors
  --color-yellow-text: #fff200;
  --color-yellow-text-opacity90: rgb(255, 242, 0, 0.9);
  --color-blue-main: #3369f3;
  --color-white-text: #fff;
  --color-red-invalidate: #f00;

  // shadows
  --shadow-yellow-text: 1px 1px 10px var(--color-yellow-text-opacity90);
}
