//colors
$color-yellow-text: #fff200;
$color-yellow-text-opacity90: rgba(255, 242, 0, 0.9);
$color-blue-main: #3369f3;
$color-white-text: #ffffff;
$color-red-invalidate: #ff0000;

//shadows
$shadow-yellow-text: 1px 1px 10px $color-yellow-text-opacity90;
